body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: black;
    border-color: white;
    color: white;
    font-size: 2em;
}

button:hover {
    border-color:aquamarine;
    color: aquamarine;
}

#master-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#operation-history {
    border-style: solid;
    border-color: white;
    color: white;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 4fr 1fr;
}

#operation-history > h1 {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

#operation-history > section {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-size: 1.5em;
}

.calculator-container {
    display: grid;
    align-items: center;
    justify-items: stretch;
    max-width: 90%;
    border-style: solid;
    border-color: white;
}

.screen {
    display: flex;
    justify-content: center;
    max-width: 95%;
    min-height: 100px;
    margin: 10px 10px;
    overflow: hidden;
    padding: 10px;
    border-style: solid;
    border-color: white;
}

#screen-value {
    flex-basis: 1;
    color: white;
    font-size: 2em;
    max-width: 95%;
    overflow-wrap: break-word;
}

.buttons {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
}

.number-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operation-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* MEDIA QUERIES */

@media (max-width: 925px) {
    .buttons {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
} 
    